In [2]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
import getpass  # To get the password without showing the input
password = getpass.getpass()

# Note that when you use _SQLAlchemy_ and establish the connection, you do not even need to be logged in Sequel Pro or MySQL Workbench.

 ········

In [7]:
sdb = "sakila" 
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+sdb
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

In [13]:
from sqlalchemy import text

def rentals_month(engine, month, year):
    query = f"""
    SELECT customer_id, rental_id, rental_date
    FROM rental
    WHERE MONTH(rental_date) = {month} AND YEAR(rental_date) = {year}
    """
    return pd.read_sql(query, engine)

In [15]:
def rental_count_month(rentals_df, month, year):
    rentals_count = rentals_df.groupby('customer_id').size().reset_index(name=f'rentals_{month:02d}_{year}')
    return rentals_count

In [17]:
def compare_rentals(df1, df2):
    merged_df = pd.merge(df1, df2, on='customer_id', how='inner', suffixes=('_month1', '_month2'))
    month1_col = merged_df.columns[1]
    month2_col = merged_df.columns[2]
    merged_df['difference'] = merged_df[month2_col] - merged_df[month1_col]
    return merged_df

In [19]:
# Retrieve rental data for May and June 2005
may_rentals = rentals_month(engine, 5, 2005)
june_rentals = rentals_month(engine, 6, 2005)


# Count rentals per customer for May and June 2005
may_rentals_count = rental_count_month(may_rentals, 5, 2005)
june_rentals_count = rental_count_month(june_rentals, 6, 2005)

# Compare the rental counts between May and June
comparison = compare_rentals(may_rentals_count, june_rentals_count)

# Display the comparison
print(comparison)

     customer_id  rentals_05_2005  rentals_06_2005  difference
0              1                2                7           5
1              2                1                1           0
2              3                2                4           2
3              5                3                5           2
4              6                3                4           1
..           ...              ...              ...         ...
507          594                4                6           2
508          595                1                2           1
509          596                6                2          -4
510          597                2                3           1
511          599                1                4           3

[512 rows x 4 columns]